.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.navbox {
  display: flex;
  border-top: 2px solid black;
  width: 40%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    gray 20%,
    rgb(203, 203, 203) 80%
  );

  &center {
    @extend .navbox;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  &:hover {
    background: linear-gradient(
      to bottom right,
      rgb(60, 60, 60) 20%,
      rgb(120, 120, 120) 80%
    );
  }
}

.icon {
  position: relative;
  width: 60px;
  max-height: 60px;
}
